
/* HTML5 */
article, figure, figcaption, footer, nav, section { display: block; }

html, body { margin: 0; padding: 0; }

body {
	/*background: #d0dada url(images/mazetrans.png) center center;*/
	background: white url(images/newmaze.png) .625em top repeat;
	color: black;
	font: medium/1.25 sans-serif;
	padding: 0 .625em;
}

body>nav, body>section, body>footer {
	border-top: 2px dashed;
}
hr {
	display: block;
	border: none;
	padding: 0;
	margin: .625em 0;
	border-top: dashed black 2px; 
}

h1 {
	margin: 32px 0;
	font-size: 36px;
	line-height: 32px;
}

h1, h2, h3 {
	text-shadow: #999 -1px 1px 2px;
	text-shadow: rgba(0, 0, 0, .4) -1px 1px 2px;
	font-family: monospace, sans-serif;
}

p { margin: .625em 0; }
blockquote { margin: .625em 32px; }

dd { margin-left: 32px; }
dd { margin-bottom: .625em; } /* for empty `dd`s */

/*dd p { margin: 0 auto; }
dd p ~ p { margin-top: .5em; }*/
dd :first-child { margin-top: 0; }

figure {
	display: block;
	text-align: center;
	margin: 0 .625em .625em 0;
}
figure img {
	border: 2px dashed black;
	padding: 2px;
}
figcaption { font-size: smaller; }

figure { float: left; clear: left; max-width: 49%; }
figure img { max-width: 99.9%; height: auto; }
h3 { clear: left; }

nav ul {
	margin: .3125em 0;
	padding: 0;
}

nav li {
	display: inline;
	margin-right: .5em;
}

nav li:not(:first-child)::before {
	content: "|";
	margin-right: .5em;
	margin-left: -.25em;
}


/* pictures */
#levelsets h2, #links h2, #patches h2 {
	background: transparent no-repeat left center;
	padding-left: 37px;
	line-height: 32px;
}
#levelsets h2 { background-image: url(images/chipfloor32.png); }
#links     h2 { background-image: url(images/teleport32.png); }
#patches   h2 { background-image: url(images/dirt+bug.png); }

footer { font-size: 67.5%; } 

/* JS header anchor styles */
.heading-anchor-link {
    display: none;
    color: #808080;
    margin-left: 1ex;
    text-decoration: none;
    text-shadow: none;
}
.heading-anchor-link:hover {
    text-decoration: underline;
}
:hover > .heading-anchor-link {
    display: inline;
}
